@CHARSET "UTF-8";

p.offer_content {
    max-width: 100%;
    color: #163351;
    text-align: center;
    font-size: 22px;
    margin-top: 61px;
    font-weight: 200;
}

.razem50plus {
    color: #0c0c0c;
    margin-top: 33px;
    font-size: 22px;
    font-weight:200;
}

p.razem50plus {
	font-size: 22px;
	font-weight: bold;
}

a.razem,
a.razem:hover,
a.razem:active {
    text-decoration: none;
    color: black;
}

section.o-nas {
    margin-top: 105px;
    margin-bottom: 25px;
}

img.loga {
    max-width: 104px;
    margin-left: 20px;
    margin-bottom: 22px;
}
