
body {

font-family:'sans-serif';

}

h1, h2 {

font-family:'serif';

}




p.offer_content {
    max-width: 100%;
    color: navy;
    text-align: center;
    font-size: 23px;
    margin-top: 61px;
}