@CHARSET "UTF-8";

/*tło na >=MD*/

.jumbotron {
    background: url(../assets/images/razem50plus_banner.jpg) top 9px right -20px fixed !important;
    margin-bottom: 0px;
    margin-top: 73px;
}

/*tło na SM*/

.jumbotron.small {
	background: url(../assets/images/razem50plus_banner.jpg) top 9px left -1px fixed !important;
    margin-bottom: 0px;
    margin-top: 73px;
}



a.razem,
a.razem:hover,
a.razem:active {
    text-decoration: none;
    color: black;
}

.opis {
    margin-top: -30px;
    margin-left: 10px;
}



