@CHARSET "UTF-8";


.jumbotron {
    background: url(../assets/images/razem50plus_banner.jpg) top 70px left fixed !important;
    margin-bottom: 0px;
    margin-top: 73px;
}

.razem50plus {
    color: #0c0c0c;
    margin-top: 33px;
    font-size: 22px;
    font-weight:200;
}

p.razem50plus {
	font-size: 22px;
	font-weight: bold;
}

a.razem,
a.razem:hover,
a.razem:active {
    text-decoration: none;
    color: black;
}



