

body {

	font-family:'Lato' !important;
	overflow-y: scroll;

}

h1 {
	font-size: 30px;
}
}

h1, h2 {

	font-family:'Lato';    


}

h2 {

	font-family:'Lato';    
	font-size: 30px;
    text-align: center;

}

/*menu*/


img.img-responsive.logo{
    display: block;
    max-width: 296px;
    margin-top: -2px;
    margin-left: -22px;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}

nav.navbar.navbar-default.navbar-fixed-top {
    height: 100px;
    /*max-width: 1280px !important;*/
}

.navbar-default .navbar-nav>li>a {
    color: #163351;
    font-size: 18px;
}


.navbar-nav {
    float: right;
    background-color: white;
    margin-top: 31px; 
    margin-right:0px;
}

.navbar-default .navbar-toggle {
    border-color: #163351;
    margin-top: 33px;
    margin-left: 213px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #163351;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    /* background-color: #ddd; */
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #fcfcfc;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #66afef;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#163351 0,#163351 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
	border-radius: 0px;
}

.navbar-default {
    background-color: white;
    border-color: rgba(20, 20, 134, 0);
}


.navbar-default .navbar-nav>.active>a:hover {
    color: #66b0f0;
    background-color: #e7e7e7;
}



/*banner*/

.jumbotron {
	background: url(../assets/images/main_banner.png) top 6px left -130px fixed !important;
    margin-bottom: 10px;
    margin-top: 73px;
    min-height:650px;
    /*max-width: 1800px;
    margin-left: auto;
    margin-right: auto;*/
}

.slogan {
    margin-top: 55px;
}

h1.slogan1 {
    color: white;
    font-size: 34px;
    font-weight: bold;
	line-height:29px;
}

p.positioning {
    color: white;
	margin-top: 33px;
	font-size: 26px;
	margin-bottom: 10px;
}


.btn-primary:focus, .btn-primary:hover {
    background-color: #63acec;
    background-position: 0 -15px;
}

a.btn.btn-primary.btn-lg.main,
a.btn.btn-primary.btn-lg.main:hover

 {
	float: left;
	font-size:23px;
	color: black;
	margin-top: -2px;
	background-image: linear-gradient(to bottom,rgb(105, 179, 243) 0,#5da5e5 100%);
	border-radius: 0px;
	margin-left: 140px;
	border: none;
	margin-bottom: 40px;
}

/* oferta */


.col-md-6.col-lg-3.offer {
    background-color: rgba(128, 128, 128, 0.07);
    border: solid 6px;
    border-color: white;
	padding: 8px;
}

img.img-responsive.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1.offer_heading {
	color: #163351;
    /* font-weight: bold; */
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
}

p.offer_content {
    max-width: 100%;
	color: #163351;
	text-align: center;
    font-size: 22px;
	margin-top: 23px;
	font-weight: 200;
}

h2.area_heading {
    color: #163351;
    font-size: 19px;
    font-weight: bold;
    line-height: 33px;
}

.bottom {
    margin-top: -13px;
}


p.area_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-size: 19px;
	color: #163351;
}

a.link.offer {
    text-decoration: none;
    color: #65afef;
}

a.link.offer:hover {
    text-decoration: none;
    color: #65afef;
    font-weight:bold;
}

p.link.offer {
    text-align: center;
    font-size: 16px;
}


/*dlaczego my*/

img.icon_why {
    max-width: 82px;
    margin-top: 10px;
    margin-left: 20px;
}

section.why {
    background-color: rgba(97, 170, 234, 0.36);
    margin-top: 35px;
}

/*opisy na podstronach*/

.razem50plus {
    color: #0c0c0c;
    margin-top: 33px;
    font-size: 22px;
    font-weight:200;
}

p.razem50plus {
	font-size: 22px;
	font-weight: bold;
}




/*footer*/

.footer {
   /*background-image: url(../assets/images/footer_banner.png) !important;*/
   background-color:#163351;
   max-height:100px;
}

p.footer_content {
    
    color: white;
	padding: 40px;
}
