
/*menu*/

img.img-responsive.logo{
	display: block;
    width: 471px;
    margin-top: -4px;
    margin-left: -39px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    height: 110px;
}

.navbar-default .navbar-nav>li>a {
    color: navy;
    font-size: 18px;
}


.navbar-nav {
    float: right;
    margin-top: 31px;
}

.navbar-default .navbar-toggle {
    border-color: navy;
    margin-top: 33px;
    margin-left: 213px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: navy;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    /* background-color: #ddd; */
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #fcfcfc;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fcfcfc;
    background-color: red;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#050582 0,#1b1b89 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
	border-radius: 0px;
}

.navbar-default {
    background-color: #fafafa;
    border-color: rgba(20, 20, 134, 0);
}



/*banner*/

.jumbotron {
    background-image: url(../assets/images/main_banner.png) !important;
    margin-bottom: 18px;
    margin-top: 73px;
}

.slogan {
    margin-top: 80px;
}

p.slogan1 {
    color: white;
    font-size: 34px;
    font-weight: bold;
	line-height:29px;
}

p.positioning {
    color: white;
	margin-top: 33px;
	font-size: 24px;
}


.btn-primary:focus, .btn-primary:hover {
    background-color: #63acec;
    background-position: 0 -15px;
}

a.btn.btn-primary.btn-lg.main,
a.btn.btn-primary.btn-lg.main:hover

 {
	float: right;
	font-size:23px;
	color: black;
	margin-top: -2px;
	background-image: linear-gradient(to bottom,rgb(105, 179, 243) 0,#5da5e5 100%);
	border-radius: 0px;
	margin-right: 205px;
}

/* oferta */


.col-md-6.col-lg-3.offer {
    background-color: rgba(128, 128, 128, 0.07);
    border: solid 6px;
    border-color: white;
	padding: 8px;
}

img.splash.img-responsive.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.h2, h2 {
    font-size: 30px;
    text-align: center;
}

h2.offer_heading {
    color: navy;
	font-weight:bold;
}

p.offer_content {
    max-width: 100%;
	color: navy;
	text-align: center;
    font-size: 23px;
	margin-top: 23px;
}

h2.area_heading {
    color: navy;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
}


p.area_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-size: 19px;
	color: navy;
}

a.btn.btn-default {
    display: block;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

a.btn-primary.offer {
    padding: 9px;
    border-radius: 0px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
	color:black;
    display: block;
	background-image: linear-gradient(to bottom,rgb(105, 179, 243) 0,#5da5e5 100%);
}

a.btn-primary.offer {
    text-decoration:none;
	padding: 9px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 183px;
    font-size: 17px;
	color:black;
    display: block;
	background-image: linear-gradient(to bottom,rgb(105, 179, 243) 0,#5da5e5 100%);
}

/*footer*/

.footer {
   /*background-image: url(../assets/images/footer_banner.png) !important;*/
   background-color:#163351;
   max-height:100px;
}

p.footer_content {
    
    color: white;
	padding: 40px;
}
